body{background-image: url("https://www.solidbackgrounds.com/images/1920x1080/1920x1080-pale-pink-solid-color-background.jpg");}


  
  header nav {
    float: left;
  }
  
  header nav ul {
    list-style: none;
  }
  
  header nav ul li {
    float: left; 
    padding: 15px;

}

main{padding:50px}
main section h1 {
  text-align: center;
  color:black;
}

main p {
  line-height: 1.5;
}

footer {
  text-align: center;

  color:purple;
  line-height: 4px
}
